.container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  .example-block {
    display: flex;
    flex-flow: column;
    max-width: 500px;
  }
}

.controls {
  display: flex;
  padding: 8px 0;
}
