.container {
  gap: 20px;
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: repeat(3, 200px);
  .example-block {
    display: flex;
    flex-flow: column;
  }
}

.example-slotted-container {
  background-color: #ba9e11;
}

.controls {
  display: flex;
  padding: 8px 0;
  gap: 8px;
}
