%default-slot-container {
  background-color: #439660;
}

%slot-boundary-description {
  color: #fff;
  margin: 0;
}

%description-container {
  background-color: #0f51b7;
  color: #fff;
}

%component-base {
  display: block;
  background-color: #c72b2e;
  padding: 8px;
}
